@import "@assets/styles/_functions.scss";

.bio {
  background-color: var(--color-background-cards);
  display: flex;
  border-radius: 4px;
  box-shadow: var(--box-shadow-bio);
  padding: 30px;
  width: 40%;
  display: block;

  p {
    margin-bottom: 0;
  }

  &__avatar {
    margin-bottom: 40px;
    min-width: 50px;
    border-radius: 100%;
    box-shadow: var(--box-shadow-bio-avatar);
  }

  &__author-name {
    padding-bottom: 10px;
  }
  
  &__author-description {
    padding-bottom: 32px;
  }
  
  &__icons-wrapper {
    display: flex;
    margin: 0;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;

    &__avatar-wrapper, &__read-more-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__read-more {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--color-text);
      text-decoration: underline;
    }

    &__avatar {
      margin-bottom: 0;
    }

    &__icons-wrapper {
      margin: auto 0;

      li {
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__author-name, &__read-more {
      margin: 20px 0;
    }

    &__author-description {
      padding: 20px 0;
    }
  } 
}

.non-root-bio {
  background-color: var(--color-background-cards);
  padding: 30px 0 30px;

  &__avatar-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    margin-bottom: 20px;
    min-width: 50px;
    border-radius: 100%;
    box-shadow: var(--box-shadow-bio-avatar);
  }

  &__icons-wrapper {
    display: flex;
    margin-top: auto;

    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
