.bio {
  background-color: var(--color-background-cards);
  display: flex;
  border-radius: 4px;
  box-shadow: var(--box-shadow-bio);
  padding: 30px;
  width: 40%;
  display: block;

  p {
    margin-bottom: 0;
  }
}

.bio-avatar {
  margin-bottom: 40px;
  min-width: 50px;
  border-radius: 100%;
  box-shadow: var(--box-shadow-bio-avatar);
}

.author-name {
  padding-bottom: 10px;
}

.author-description {
  padding-bottom: 32px;
}

.icons-wrapper {
  display: flex;
}
