.main-heading {
  font-size: 48px;
  margin: 0;
}

.header-link-home {
  font-weight: 700;
  font-family: var(--fontFamily-sans);
  text-decoration: none;
  font-size: 1.4rem;
}

.global-wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.global-header {
  margin-bottom: 48px;
}
