.main-heading {
  font-size: 48px;
  margin: 0;
}

.header-link-home {
  font-weight: 700;
  font-family: var(--fontFamily-sans);
  text-decoration: none;
  font-size: 1.4rem;
}

.global-wrapper {
  height: 100vh;
  background-color: var(--alabaster);
  padding: 0 5%;
  margin: 0;

  &__logo {
    height: 50px;
    width: 50px;
    vertical-align: bottom;
  }
}

.global-header {
  padding-bottom: 48px;
}
