/* CSS Custom Properties Definitions */

.light,
.dark {
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
}

.light {
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-background: #fafafa;
  --color-logo: #48555e;
  --color-background-cards: #ffffff;
  --color-icon-border: #d1dce5;
  --color-icon-fill: #000000;
  --box-shadow-header: 0 4px 6px 0 rgba(31, 36, 50, 0.05);
  --box-shadow-bio: 0 4px 6px 0 rgba(31, 36, 50, 0.05);
  --box-shadow-bio-avatar: -2px -2px 7px 0px rgba(31, 36, 50, 0.1);
  --box-shadow-cards: -4px 4px 5px 0 rgba(31, 36, 50, 0.1);
  --box-shadow-bio-post: 1px 1px 10px 9px rgba(31, 36, 50, 0.2);
}

.dark {
  --color-primary: #005b99;
  --color-text: rgba(250, 250, 250, 0.8);
  --color-text-light: rgba(250, 250, 250, 0.6);
  --color-heading: rgba(250, 250, 250, 0.7);
  --color-heading-black: rgba(250, 250, 250, 0.8);
  --color-accent: #d1dce5;
  --color-background: #000000;
  --color-logo: #666666;
  --color-background-cards: #2a2b2d;
  --color-icon-border: rgba(250, 250, 250, 0.4);
  --color-icon-fill: rgba(250, 250, 250, 0.8);
  --box-shadow-header: -4px 4px 5px 0 rgba(100, 100, 100, 0.25);
  --box-shadow-bio: -4px 4px 5px 0 rgba(100, 100, 100, 0.25);
  --box-shadow-bio-avatar: -2px -2px 7px 0px rgba(100, 100, 100, 0.9);
  --box-shadow-cards: -4px 4px 5px 0 rgba(100, 100, 100, 0.3);
  --box-shadow-bio-post: 1px 1px 10px 9px rgba(121, 121, 121, 0.4);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--color-text);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: 48px;
  margin-bottom: 24px;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-heading);
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--color-heading-black);
}

h2 {
  font-size: 2rem;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: 0 0 24px 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 24px 32px;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: 0;
  margin-bottom: 10px;
}

li > p {
  margin-bottom: calc(32px / 2);
}

li *:last-child {
  margin-bottom: 0;
}

li > ul {
  margin-left: 32px;
  margin-top: calc(32px / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * 24px);
  margin-right: 32px;
  padding: 0 0 0 24px;
  border-left: 4px solid var(--color-primary);
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 32px;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: 32px;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */
.gatsby-highlight {
  margin-bottom: 32px;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: 0 0 0 16px;
    margin-left: 0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
